*, body{
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	background-color: #6495ed;
	color: white;
	font-family: arial;
}

#add {
	background-color: #FF5555;
	color: white;
	font-size: 17px;
	font-weight: 600;
	/*padding: 7px 10px;*/
	padding-right: 40px;
	border: 0;
	border-radius: 5px;
	margin-top: 25px;
	cursor: pointer;
	outline-style: none;
}

#add:hover {
	background-color: #DA3131;
}

#add:active {
	transform: translateY(1.6px);
}

.remove {
	/*margin-top: 13px;*/
	background-color: #f2f205;
	float: right;
	clear: both;
	border-radius: 5px;
	padding-right: 15px;
	width: 60px;
	height: 20px;
	border-style: none;
	margin-right: 70px;
	transform: translateY(8px);
	outline-style: none;
	cursor: pointer;
}

.remove:hover {
	background-color: #ffbb00;
}
.remove:active {
	transform: translateY(.1px);
}

@media (max-width:700px){
    #wrapper {
    	width: 85%;
    }
    #add {
    	padding: 0 0 ;
    }
    .remove {
	    margin-bottom: 10px;
    }
}

@media (max-width:1000px){
    #wrapper {
    	width: 75%;
    }
	
	#task {
		margin: 0 auto;
		padding: 3px 0;
	}

	#add {
		margin: 10px auto 20px auto;
		padding: 4px 0;
	}
	.remove {
		margin-bottom: 10px;
	}
}

@media (min-width:700px){
  /*#wrapper {
  	width: 50%;
  }*/
	#task {
		padding: 2px 7px;
		/*margin-left: 30px;*/
		margin-left: 10%;
	}

	#add {
		padding: 5px 8px ;
		margin: 10px auto;
	}
}

@media (min-width:1000px){
  #wrapper {
  	width: 50%;
  }
	.row {
		margin: 20px auto;
	}
	#task {
		/*margin-left: 30px;*/
		margin-left: 4%;
	}
	#add {
		padding: 5px 14px;
		margin: 0 auto;
		margin-left: 5px;
	}
}

#wrapper {
	background-color: #000365;
	margin: auto; /* to Horizontally center the block elements */
	margin-top: 120px; 
	padding: 10px 30px 60px 30px;
	border-radius: 5px;
	/*width: 50%;*/
}

ul {
	list-style: none;
	/*line-height: 30px;*/
	text-align: left;
	margin-left: 70px;
	/*margin-top: 40px;*/
}

#task {
	border: 0;
	border-radius: 10px;
	outline-style: none;
	font-size: 16px;
	/*margin-left: 20px;*/
	/*font-weight: 500;*/
	padding-left: 7px;
	padding-right: 4px;
}

h1 {
	margin-top: 35px;
}

hr.dashed {
	border-style: none;
	border-top: 1px dotted #f1f1f1;
}
